<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"/>
    <title>Exhibition</title>
</head>
<body style="font-family: 'Poiret One', cursive;">
    <header style="background: darkred;">
        <div align="right">
            <form action="/exhibition" method="get">
                <input type="text" name="search" th:placeholder="${seachValue}"/>
                <input type="submit" value="SEARCH"/>
            </form>
        </div>
    </header>
    <main>
        <h1>ART GALLERY COLLECTION</h1>
        <table class="table">
            <tr>
                <th>ARTIST</th>
                <th>PICTURE TITLE</th>
            </tr>
            <tr th:each="picture : ${pictures}">
                <td th:text="${picture.artist.getName()}"></td>
                <td>
                    <span th:style="color:red" th:if="${picture.isSold} == true" th:text="${picture.title} + ' is sold!'" />
                    <span th:unless="${picture.isSold} == true" th:text="${picture.title}" />
                </td>
                <td>
                    <a th:href="${picture.url}">
                    <img th:src="${picture.url}" width="600px" height="400"/>
                    </a>
                </td>
                <td>
                    <a th:href="@{/artist/} + ${picture.title}">See Artist</a>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>