<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"/>
    <title>Lilla's Art Gallery</title>
</head>
<body
        style="font-family: 'Poiret One', cursive;
        background: url(https://static.wixstatic.com/media/3b1f25_f867f476e0424dbe8abb29df64b083b5.jpg/v1/fill/w_1225,h_1423,al_c,q_85,usm_0.66_1.00_0.01/3b1f25_f867f476e0424dbe8abb29df64b083b5.webp);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;">
    <header style="background: black;
            ">
        <a th:href="@{/exhibition}" class="card-title" style="font-size: 32px">EXHIBITION</a>
        <a class="card-title" th:href="@{/auction}"  style="font-size: 32px">AUCTION</a>
        <a class="card-title" th:href="@{/login/costumer}"  style="font-size: 32px">COSTUMER'S PAGE</a>
        <a class="card-title" th:href="@{/login/artist}"  style="font-size: 32px">ARTIST'S PAGE</a>
    </header>
    <main>
        <div>
            <h1 style="background: gold;
                text-align:center;
                font-size: 54px"
                class="col-md-2 col-md-offset-5">
                LILLA'S ART GALLERY
            </h1>
        </div>
    </main>
</body>
</html>